@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/minion-pro/MinionPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/minion-pro/MinionPro-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/minion-pro/MinionPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/minion-pro/MinionPro-MediumCn.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-stretch: condensed;
}
@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/minion-pro/MinionPro-MediumCnIt.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-stretch: condensed;
}
@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/minion-pro/MinionPro-MediumIt.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/minion-pro/MinionPro-Cn.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
}
@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/minion-pro/MinionPro-CnIt.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-stretch: condensed;
}
@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/minion-pro/MinionPro-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/minion-pro/MinionPro-SemiboldCn.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-stretch: condensed;
}
@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/minion-pro/MinionPro-SemiboldCnIt.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-stretch: condensed;
}
@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/minion-pro/MinionPro-SemiboldIt.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/minion-pro/MinionPro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/minion-pro/MinionPro-BoldCn.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
}
@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/minion-pro/MinionPro-BoldIt.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/minion-pro/MinionPro-BoldCnIt.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-stretch: condensed;
}
