* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.horizontal-scroll-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth; /* 스크롤을 부드럽게 만듦 */
    -webkit-overflow-scrolling: touch; /* iOS에서 부드러운 스크롤을 활성화 */
    position: relative;
}

.section {
    flex: 0 0 auto;
    width: 100%;
    height: 100vh;
    padding: 50px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.section:nth-child(even) {
    background-color: #e0e0e0;
}

.section h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.section p {
    font-size: 1.5rem;
    line-height: 1.6;
}

#section1 {
    position: relative;
    overflow: hidden;
    .black-box {
        display: block;
        position: absolute;
        width: 100%;
        height: 72px;
        top: 0;
        left: 0;
        background-color: $black;
        z-index: 2;
    }
    .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .contact_wrap {
        width: 5000px;
        position: absolute;
        top: 50%;
        transform: translateY(calc(-50% - 30px));
        animation-name: main_slide;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        font-size: 0;
        img {
            width: 1412px;
            height: 200px;
            margin-right: 100px;
        }
    }
    @keyframes main_slide {
        0% {
            left: 0;
        }
        100% {
            left: -1512px;
        }
    }
    .img-rotate {
        position: absolute;
        bottom: 87px;
        right: 98px;
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $white;
            font-family: $fontFamily;
            font-size: 24px;
            font-weight: 100;
            z-index: 3;
        }
        img {
            width: 164px;
            transition: transform 0.3s linear;
        }
    }
    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

#section2 {
    width: 1440px;
    background-color: $white;
    position: relative;
    .text-area {
        font-family: $fontFamily;
        font-size: 132px;
        color: $primary;
        position: absolute;
        top: 51%;
        left: 32px;
        transform: translateY(-50%);
        z-index: 2;
        text-align: left;
        .text {
            overflow: hidden;
            position: relative;
            line-height: 146px;
            z-index: 2;
            div {
                transform: translateY(0px);
                opacity: 1;
            }
        }
    }
    .img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        img {
            width: 718px;
            vertical-align: top;
        }
    }
    .info {
        position: absolute;
        top: 62%;
        right: 134px;
        text-align: left;
        h3 {
            font-size: 24px;
            font-family: $fontFamily;
            font-weight: normal;
        }
        .description {
            margin-top: 6px;
            font-size: 14px;
            color: $gray-500;
        }
        .btn-more {
            margin-top: 45px;
            a {
                color: $black;
                img {
                    width: 32px;
                    vertical-align: middle;
                    margin-left: 8px;
                }
            }
        }
    }
}

#section3 {
    width: 2065px;
    height: 100vh;
    float: left;
    background-color: $white;
    border-left: 1px solid rgba(151, 151, 151, 0.2);
    .inner {
        .items {
            width: 100%;
            padding: 86px 0 0 0;
            display: flex;
            ul {
                display: flex;
                flex-direction: column;
                .item {
                    position: relative;
                    display: inline-block;
                    padding-right: 279px;
                    width: 579px;
                    height: 378px;
                    vertical-align: top;
                    margin-left: 68px;
                    text-align: left;
                    .umberic {
                        font-size: 28px;
                        color: #dcdcdc;
                        font-weight: 500;
                        padding-bottom: 25px;
                    }
                    h3 {
                        font-size: 24px;
                        font-weight: bold;
                        font-family: $fontFamily;
                        padding-bottom: 5px;
                    }
                    .description {
                        font-family: $fontFamily;
                        font-size: 18px;
                        padding-bottom: 180px;
                    }
                    .read-more {
                        display: flex;
                        gap: 5px;
                        align-items: center;
                        font-size: 14px;
                        font-family: $fontFamily;
                        font-weight: 700;
                        &::after {
                            content: '\f30b';
                            font-family: 'Line Awesome Free';
                            font-weight: 900;
                            font-size: 22px;
                        }
                    }
                    img {
                        width: 252px;
                        height: 378px;
                        object-fit: cover;
                        object-position: center;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
            }
        }
    }
}

#section4 {
    width: 1812px;
    background-color: $primary;
    position: relative;
    .content-area {
        display: inline-block;
        position: absolute;
        left: 180px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        text-align: left;
        .wani-main {
            font-size: 132px;
            font-family: $fontFamily;
            font-weight: normal;
            line-height: 146px;
            color: $white;
        }
        .description {
            margin-top: 40px;
            font-size: 14px;
            line-height: 24px;
            color: $white;
        }
        .btn-more {
            margin-top: 40px;
            a {
                display: inline-block;
                width: 105px;
                height: 44px;
                background-color: $black;
                color: $white;
                border-radius: 22px;
                line-height: 42px;
                font-size: 14px;
                font-family: $fontFamily;
                text-align: center;
            }
        }
    }
    .img-area {
        position: absolute;
        bottom: 0;
        right: 48px;
        width: 882px;
        height: 768px;
        img {
            position: absolute;
        }
        .img1 {
            bottom: 38vh;
            right: 57vh;
            width: 320px;
            height: auto;
        }
        .img2 {
            bottom: 0;
            right: 5vh;
            width: 590px;
            height: auto;
        }
    }
}

#section5 {
    width: 1643px;
    background-color: $white;
    .inner {
        margin-top: 6vh;
        .items {
            width: 100%;
            padding: 0 0 0 181px;
            .item {
                position: relative;
                display: inline-block;
                width: 266px;
                vertical-align: top;
                margin-right: 105px;
                .img {
                    width: 207px;
                    height: 246px;
                    background-size: cover;
                    background-position: center;
                    border-top-left-radius: 133px;
                    border-top-right-radius: 133px;
                }
                .bg-ing-01 {
                    background-image: url(../../images/make-up-01.png);
                }
                .bg-ing-02 {
                    background-image: url(../../images/make-up-02.png);
                }
                .bg-ing-03 {
                    background-image: url(../../images/make-up-03.png);
                }
                .bg-ing-04 {
                    background-image: url(../../images/make-up-04.png);
                }
                .bg-ing-05 {
                    background-image: url(../../images/make-up-05.png);
                }
                .bg-ing-06 {
                    background-image: url(../../images/make-up-06.png);
                }
                h3 {
                    margin-top: 22px;
                    font-size: 20px;
                    font-family: $fontFamily;
                    font-weight: 700;
                    line-height: 24px;
                    text-align: left;
                }
                p {
                    margin-top: -5px;
                    font-size: 16px;
                    font-family: $fontFamily;
                    font-weight: 500;
                    text-align: left;
                }
                .btnArea {
                    margin-top: 28px;
                    height: 44px;
                    a {
                        display: block;
                        width: 105px;
                        height: 44px;
                        line-height: 44px;
                        text-align: center;
                        border-radius: 22px;
                        background-color: $black;
                        font-family: $fontFamily;
                        font-weight: 400;
                        font-size: 14px;
                        color: $white;
                    }
                }
            }
        }
    }
}
