@import url("../../css/font.css");


* {
	box-sizing: border-box;
	word-break: keep-all;
}

body, th, td, input, select, textarea, button {
	font-family: 'AppleSDGothicNeo';
	
	color:#000;
	
}

body.dark_header{
	background: #000;
}
a {
	color:#000;
}
.gnb, .header_top_cont, .header_search_cont, .main_goods_cont, .content_info, .foot_list ul, .foot_cont, .foot_certify {
	
	width:1180px;
}

#wrap {
	min-width:auto;
}
#header_warp {
	position:fixed;
	top:0;
	left:0;
	z-index:51;
	width:100%;
}

.dark_header #header{
	border-bottom: 1px solid #FFFFFF;
}

.dark_header .btn_header_cart{
	color: #FFF;
}

.dark_header .btn_header_menu{
	color: #FFF;
}

#container {
	min-height:540px;
	border-top:1px solid #e5e5e5;
}
#contents .sub_content {
	margin:0 auto;
}
.location_wrap + .sub_content{
	padding-top:45px;
}
#scroll_left, #scroll_right {
	display:none;
}

.date_check_box {
	display:none;
}

/***** 공통 모듈 *****/

input[type="text"], input[type="password"] {
	font-size:14px;
	height:48px ;
	width:100% ;
	max-width:100%;
	box-sizing: border-box;
	padding-left:16px ;
	color:#000;
	margin:0 0 8px 0 ;
}
input[type="text"]::placeholder, input[type="password"]::placeholder, textarea::placeholder {
	color:#A3A3A3;
}

select{
	border: 1px solid #DEDEDE;
	padding: 0px 20px;
	background: url(../img/select_arrow.png) no-repeat calc(100% - 16px) 50%;
	background-size: 18px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	height: 52px;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 0.36px;
	color: rgba(255, 255, 255, 0.4);
	vertical-align: top;
}

.order_table_type thead .form_element, .order_table_type .td_chk .form_element {
	min-height:20px;
}

.form_element label {
	background: url(../img/icon_checkbox.png) no-repeat left center;
	background-size:18px;
	cursor:pointer;
	color:#3D3535;
}
.form_element label:hover {
	background: url(../img/icon_checkbox.png) no-repeat left center;
	background-size:18px;
}
.form_element label.on {
	background: url(../img/icon_checkbox_on.png) no-repeat left center;
	background-size:18px;
}

.form_element label.check_s {
	background: url(../img/icon_checkbox.png) no-repeat left center;
	background-size:20px;
	cursor:pointer;
	color:#3D3535;
	min-width:20px;
	min-height:20px;
}
.form_element label.check_s:hover {
	background: url(../img/icon_checkbox.png) no-repeat left center;
	background-size:20px;
}
.form_element label.check_s.on {
	background: url(../img/icon_checkbox_on.png) no-repeat left center;
	background-size:20px;
}

.form_element label.choice {
	background: url(../img/icon_radio.png) no-repeat 1px 50%;
	background-size:18px;
	padding-left:26px;
	margin-right:16px;
}
.form_element label.choice:hover {
	background: url(../img/icon_radio.png) no-repeat 1px 50%;
	background-size:18px;
}
.form_element label.choice.on {
	background: url(../img/icon_radio_on.png) no-repeat 1px 50%;
	background-size:18px;
}

.form_element label.choice_s {
	background: url(../img/icon_radio.png) no-repeat 1px 50%;
	background-size:18px;
	padding-left:26px;
	margin-right:16px;
}
.form_element label.choice_s:hover {
	background: url(../img/icon_radio.png) no-repeat 1px 50%;
	background-size:18px;
}
.form_element label.choice_s.on {
	background: url(../img/icon_radio_on.png) no-repeat 1px 50%;
	background-size:18px;
}




.chk_box {position:relative;}
.chk_box .check_s, .chk_box .check_s.on{
	background:transparent !important;	
}
.chk_box input[type="checkbox"] {position:absolute;top:0;left:0;width:0;height:0;opacity:0;outline:0;z-index:-1;overflow:hidden; font-size: 0;}
.chk_box input[type="checkbox"] + label {position:relative;padding-left:28px; min-height: 18px; font-weight: 400; font-size: 13px; line-height: 18px; color: #757575;}
.chk_box input[type="checkbox"] + label span {position:absolute;top:0;left:0;width:18px;height:18px;display:block; background-image: url('../img/checkbox.png'); background-size: 100%;cursor: pointer;}
.chk_box input[type="checkbox"]:checked + label {}
.chk_box input[type="checkbox"]:checked + label span {background-image:url('../img/checkbox_checked.png');}

.chk_box {position:relative;}
.chk_box .check_s, .chk_box .check_s.on{
	background:transparent !important;	
}
.chk_box input[type="radio"] {position:absolute;top:0;left:0;width:0;height:0;opacity:0;outline:0;z-index:-1;overflow:hidden; font-size: 0;}
.chk_box input[type="radio"] + label {position:relative;padding-left:28px; min-height: 18px; font-weight: 400; font-size: 13px; line-height: 18px; color: #757575;}
.chk_box input[type="radio"] + label span {position:absolute;top:3px;left:0;width:18px;height:18px;display:block; background-image: url('../img/checkbox.png'); background-size: 100%;cursor: pointer;}
.chk_box input[type="radio"]:checked + label {}
.chk_box input[type="radio"]:checked + label span {background-image:url('../img/checkbox_checked.png');}



#wrap .chosen-single {
	height:48px;
	border:1px solid #D4D4D4;
	padding-left:16px;
	font-size:14px;
	color:#737373;
	appearance: none;
	-moz-appearance: none;
	background:url("../img/icon_dropdown.png") no-repeat calc(100% - 12px) center;
	background-size:12px;
}

.btn {
	display:inline-block;
	box-sizing: border-box;
	width:100% ;
	height:48px ;
	line-height:48px;
	max-width:288px;
	background:#fff ;
	border:1px solid #3D3535 ;
	color:#737373 ;
	font-size:14px ;
	font-weight:500 ;
	text-align:center;
}
.btn:hover {
	background:#fff;
	color:#737373 ;
}
.btn.small {
	width:140px;
	font-size:12px;
	font-weight:400;
}

.btn.disable{
	background:#e5e5e5;
	border:1px solid #e5e5e5;
	color:#fff;
}

.btn.active{
	background:#3D3535 ;
	border:1px solid #3D3535 ;
	color:#fff ;
}

.centerX {
	position:absolute;
	left:50%;
	transform: translateX(-50%);
}
.centerY {
	position:absolute;
	top:50%;
	transform: translateY(-50%);
}



.alert-bg {
  box-sizing: border-box;
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.alert-bg .alert-bg--inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.alert-bg.box_alert .is-cancel {
	display:none;
}

.alert {
  box-sizing: border-box;
  width: 288px;
  padding: 49px 16px 20px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: left;
}


.alert .alert-inner {
  display: table-cell;
}

.alert .alert__content p {
  font-size: 18px;
  font-weight:700;
  line-height: 1.3;
  color: #000;
  padding: 0;
  word-break: keep-all;
  text-align:center;
}

.alert .alert__foot {
  margin-top:32px;
  text-align:right;
}

.alert .alert__foot button {
  width:124px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  background:transparent;
  border:none;
  background:#3D3535;
  color:#fff;
}

.alert .alert__foot button.is-cancel {
	float:left;
	border:1px solid #d4d4d4;
	color: #737373;
	background:transparent;
}

.alert-bg.box_alert .is-confirm {
	width:100%;
}

.alert .alert__coupon {
  padding-bottom: 8px;
}

.alert .alert__coupon .alert__coupon-col {
  box-sizing: border-box;
  width: 25%;
  padding-right: 8px;
  float: left;
}

.alert .alert__coupon .alert__coupon-col input[type="number"],
.alert .alert__coupon .alert__coupon-col input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 0 12px;
  background-color: #F5F5F5;
  font-size: 14px;
  text-align: center;
}

.alert .alert__coupon .alert__coupon-col:last-child {
  padding-right: 0;
}

.alert-bg {
  display: none;
}

.alert-bg.is-active {
  display: table;
}

.custom_scroll::-webkit-scrollbar{
	width:10px;
}
.custom_scroll::-webkit-scrollbar-thumb {
	background-color: #DBDBDB;
	border-radius:5px;
	border:4px solid transparent;
	background-clip: padding-box;
	cursor: pointer;
  }
.custom_scroll::-webkit-scrollbar-track {
	background-color: transparent;
}


.header_back {
	display:none;
	position:absolute;
	width:100%;
	height:48px;
	line-height:48px;
	top:0;
	text-align:center;
	font-size:12px;
	font-weight:700;
	border-bottom:1px solid #F5F5F5;
	color:#3D3535;
	z-index:20;
}

.header_back button{
	width:24px;
	height:24px;
	position:absolute;
	top:12px;
	left:16px;
	background:url("../img/btn_header_back.png") no-repeat center;
	background-size:24px;	
}

.ellipsis{
	display:block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.primary {
	color:#FF5145;
}

.primary_bg {
	background:#FF5145;
}


/***** 혜더 *****/
#header {
	height:72px;
	text-align:center;
	background:transparent;
	transition: ease 0.5s all;
	font-size:24px;
	font-family: "Minion Pro";
	border-bottom:1px solid #000;
	line-height:1;
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	z-index: 99999;
}
#header.is-active {
	background:#fff;
}
.btn_header_cart {
	float:left;
	margin-top:23px;
	margin-left:32px;
}
.btn_header_menu {
	float:right;
	margin-top:23px;
	margin-right:32px;
}

.header_logo  {
	display:inline-block;
	margin-top:26px;
}

.dark_header .header_logo svg path {
	fill: #FFF;
}
.header_logo svg path {
	fill: #000;
}

#header_warp .cover {
	width:0px;
	height:71px;
	position:absolute;
	top:0;
	left:0;
	backdrop-filter:invert(100%);
	-webkit-backdrop-filter:invert(100%);
	pointer-events: none;
	z-index: 9999999;
}

.body-index #header_warp .cover { 
	width:100%;
}

.body-mypage #header_warp .cover{
	backdrop-filter: unset;
}


#popMenu {
	display:none;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background:rgba(255,255,255, 0.4);
	backdrop-filter: blur(38px);
	-webkit-backdrop-filter: blur(38px);
	z-index:99999999;
}
#popMenu.is-active {
	display:table;	
}

#popMenu .btn_close{
	position:absolute;
	top:23px;
	right:32px;
	font-size:24px;
	color:#FE6150;	
	font-family: "Minion Pro";
}

#popMenu .menu_wrap {
	width:1180px;
	margin:262px auto 0;
}
#popMenu .menu_wrap ul{
	display:inline-block;
	vertical-align: top;	
}
#popMenu .menu_wrap ul.left_menu{
	width:700px;	
}
#popMenu .menu_wrap ul li a{
	font-size:52px;	
	color:#FE6150;
	font-family: "Minion Pro";
	line-height:68px;
}
#popMenu .menu_wrap ul li a .icon_arrow {
	background:url("../img/menu_arrow.png") no-repeat center;
	background-size:15px;
	width:15px;
	height:21px;
	display:inline-block;
	margin-left:14px;
	vertical-align: middle;
	margin-top:-6px;
	transition: ease 0.5s transform;
}

#popMenu .menu_wrap ul li a.is-open{
	/*text-decoration: line-through 3px;*/
}
#popMenu .menu_wrap ul li a.is-open .icon_arrow {
	transform: rotate(180deg);
}


#popMenu .menu_wrap ul li .category{
	height:0;
	overflow:hidden;
}
#popMenu .menu_wrap ul li .category ul {
	padding:14px 0;	
}
#popMenu .menu_wrap ul li .category a {
	font-size:32px;
	line-height:50px;
	transition: all .3s;
}
#popMenu .menu_wrap ul li .category a:hover {
	color: rgba(254, 97, 80, 0.2);
}


/***** 모바일 메뉴 *****/
#mobileMenu {
	display:none;
	position:fixed;
	top:0;
	left:0;
	z-index:200;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.6)
}
#mobileMenu .menu_area {
	width:242px;
	height:100%;
	background:#fff;
	overflow-y: auto;
}
#mobileMenu .menu_top{
	height:151px;
	background:#3D3535;
	color:#fff;
	padding:113px 0 0 20px;
	font-size:18px;
	font-weight:700;
	position:relative;
}
#mobileMenu .menu_top .btn_close{ 
	width:24px;
	height:24px;
	position:absolute;
	top:20px;
	right:16px;
	background:url("../img/close.png") no-repeat center;
	background-size: 24px;
}
#mobileMenu .menu_top a{
	color:#fff;
}

#mobileMenu .menu_area section {
	padding:25px 20px 32px;	
	border-top:7px solid #FAFAFA;
}
#mobileMenu .menu_area section.menu_lesson {
	padding:36px 20px 40px;	
}
#mobileMenu .menu_area section.menu_lesson li{
	border:none;	
}


#mobileMenu .menu_area section h3{
	font-size:12px;
	font-weight: 700;
	line-height: 1;
	color:#E5E5E5;
	margin-bottom:24px;	
}
#mobileMenu .menu_area section li {
	border-bottom: 1px solid #E5E5E5;
}
#mobileMenu .menu_area section li > a{
	display:inline-block;
	width:100%;
	padding:12px 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 140%;
	color: #3D3535;
	background:url("../img/arrow.png") no-repeat right center;
	background-size: 14px;
}
#mobileMenu .menu_area section.menu_lesson li a{
	padding-right:12px;	
}
#mobileMenu .menu_area section.menu_lesson li a .lesson_count{
	float:right;
}

#mobileMenu .menu_area section li.is_sub > a{
	background:url("../img/plus.png") no-repeat right center;
	background-size: 14px;
}
#mobileMenu .menu_area section li.is_open > a{
	background:url("../img/minus.png") no-repeat right center;
	background-size: 14px;
}
#mobileMenu .menu_area section li.is_new a span {
	position:relative;
}
#mobileMenu .menu_area section li.is_new a span::after{
	content:"";
	position:absolute;
	top:0;
	right:-4px;
	width:2px;
	height:2px;
	background:#9C836A;
}

#mobileMenu .menu_area .sub_menu {
	overflow:hidden;
	height:0;
}

#mobileMenu .menu_area section li dl{
	border-top: 1px solid #E5E5E5;
	padding:6px 0;
}
#mobileMenu .menu_area section li dd a{
	display:inline-block;
	width:100%;
	padding:6px 0;
	font-weight: 500;
	font-size: 12px;
	line-height: 140%;
	color: #737373;
	background:url("../img/sub_arrow.png") no-repeat right center;
	background-size: 14px;
}

/***** 푸터 *****/
#footer {
	overflow: inherit;
	padding-bottom:0;
}
#footer_wrap {
	background:#000;
	border:none;
	
}


#footer_wrap footer{
	max-width: 1180px;
	width: 100%;
	margin: 0 auto;
	padding: 84px 0;
}

.ft_top{padding: 18px 0 89px;}
.ft_top ul{}
.ft_top ul li{display: inline-block;padding-right: 17px;}
.ft_top ul li a{
	font-family: 'SFPro';
	font-weight: 400;
	font-size: 16px;
	line-height: 12px;
	text-align: center;
	color: #FFFFFF;
}
.ft_top ul li a span{
	display: inline-block;
	vertical-align: bottom;
	margin-left: 6px;
	margin-bottom: 4px;
}




.ft_company{
	display: inline-block;
	padding-right: 93px;
}
.ft_company .split {
	position:relative;
	padding:0 8px;
}
.ft_company .split:after{
	content:"";
	width:1px;
	height:10px;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	background:rgba(216, 216, 216, 0.12);
	display:block;
}
.ft_company dl{}
.ft_company dl dt{
	display: inline-block;
	font-weight: 400;
	font-size: 14px;
	line-height: 30px;
	color: #FFFFFF;
}

.ft_company dl dt .btn_licensee_info{
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	color: #FFFFFF;
	border-bottom: 0;
}

.ft_info{
	display: block;
	margin-top:13px;
}

.ft_info ul{}
.ft_info ul li{
	display: inline-block;
	padding-right: 32px;
	position: relative;
}
.ft_info ul li:not(:last-child)::after{
	content: "";
	display: inline-block;
	width: 1px;
	height: 11px;
	background: rgba(255, 255, 255, 0.12);
	position: absolute;
	top: 15px;
	right: 14px;
}

.ft_info ul li a{
	font-weight: 400;
	font-size: 14px;
	line-height: 38px;
	color: #FFFFFF;
}

.ft_info p{
	font-weight: 400;
	font-size: 14px;
	line-height: 30px;
	color: rgba(255, 255, 255, 0.6);
}

.arrow_right_5{
	display: inline-block;
	width: 5.5px;
	height: 7.5px;
	background-image: url('/data/skin/front/moment/img/common/arrow_right_5.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.ft_inner{
	position: relative;
}
.ft_scroll_top{
	text-align: center;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}
.ft_scroll_top img{
	width:32px;
}
.ft_scroll_top p{
	font-family: 'Minion Pro';
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-decoration-line: underline;
	color: #FFFFFF;
	padding: 15px 0 0;
}



#footer_wrap .content_info_wrap {
	border:none;
}
#footer_wrap .content_info {
	padding:28px 0 16px 0;
}
#footer_wrap .content_info .footer_logo {
	margin-bottom:20px;
}
#footer_wrap .content_info .footer_logo img{
	width:80px;	
}
#footer_wrap .content_info h3 {
	font-size:10px;
	padding:0 0 4px 0;
}

.content_info .cs_center {
	width:137px;
}
.content_info .cs_center strong {
	font-size:14px;
	line-height:22.4px;
	color:rgba(61, 53, 53, 0.88);
	padding-bottom:8px;
}
.content_info .cs_center p {
	font-size:10px;
	line-height:16px;
	color:rgba(61, 53, 53, 0.6);
}

.content_info .bank_info {
	width:225px;
	padding:0;
}
.content_info .bank_info strong {
	font-size:14px;
	line-height:22.4px;
	color:rgba(61, 53, 53, 0.88);
	padding-bottom:8px;
}
.content_info .bank_info p {
	font-size:10px;
	line-height:16px;
	color:rgba(61, 53, 53, 0.6);
}
.content_info .bank_info p em{
	font-weight:400;
}

.content_info .notice_list li {
	padding:0;
}
.content_info .notice_list a {
	font-size:10px;
	line-height:16px;
	color:rgba(61, 53, 53, 0.6);
}
.foot_list {
	margin-left:-16px;
	width:calc(100% + 32px);
	border-top:4px solid #F5F5F5;
	border-bottom:4px solid #F5F5F5;
	padding:0 16px;
}
.foot_list ul li {
	padding:16px 0 16px 0;
}
.foot_list ul li a{
	font-size:10px;
	line-height:16px;
	color:rgba(61, 53, 53, 1);
	border:none;
	padding:0 6px;
}
.foot_list ul li a strong{
	font-weight:400;	
}
.foot_cont {
	font-size:8px;
	line-height:1.6;
	padding:26px 0 22px;
}
.foot_certify {
	display:none;
}









/***** 마이페이지 공통 *****/
.mypage_lately_info {
	margin-top:42px;
}



.board_zone_tit {
	padding:0;
	margin-bottom:20px;
}
.board_zone_tit h2{
	font-size:20px;
	line-height:1.35;
}

.board_list_table th {
	border-top:2px solid #3D3535;
	border-bottom:none;
	background:#fafafa;
	height:48px;
	font-size:14px;
	font-weight:400;
	color:#737373;
}
.board_list_table td {
	padding:25px 0 23px;
	font-size:16px;
	font-weight:400;
	text-align:center;
	line-height:1;
}
.board_list_table .board_tit {
	text-align:center;
	font-size:14px;
}

.mypage_zone_tit {
	margin:112px 0 0;
	border-bottom:none;
}
.mypage_zone_tit h2{
	color:#FE6150;
	font-family: 'Minion Pro';
	font-size:44px;
	font-weight:normal;
	line-height:46px;
}
.mypage_zone_tit span{
	display:inline-block;
	padding:0;
	margin-top:9px;	
	font-size:14px;
	font-weight:normal;
	color:#FE6150;
}

.order_view_info .mypage_zone_tit{
	padding: 22px 0;
	margin: 28px 0 0;
	
}



/***** 마이페이지 사이드 *****/

#contents .sub_content > .side_cont + .content {
	width:calc(100% - 200px)
}

.side_cont .sub_menu_box h2 {
	padding:0 0 15px 0;
	font-size:20px;
	font-weight:700;
	line-height:1.35;
	border-bottom: 2px solid #3D3535;
}
.side_cont .sub_menu_box .sub_menu_mypage > li {
	margin-top:24px;
	background:transparent;
	font-size:16px;
	color:#746464;
	padding:0 0 14px 0;
	border-bottom:1px solid #E5E5E5;
	line-height:1em;
}

.side_cont .sub_menu_box .sub_menu_mypage > li:first-child {
	margin-top:20px;
}

.side_cont .sub_menu_box .sub_menu_mypage a {
	padding:10px 0;
	line-height:1em;
}

.side_cont .sub_menu_box .sub_menu_mypage .sub_depth1 {
	margin:16px 0 0 0;
}

.side_cont .sub_menu_box .sub_menu_mypage .sub_depth1 a {
	text-indent: 0;
	color:#737373;
	font-size:13px;
}

.side_cont .sub_menu_box .sub_menu_mypage a:hover, .side_cont .sub_menu_box .sub_menu_mypage .active {
	color:#000 !important;
	background:transparent;
	font-weight:400;
	text-decoration: underline;
}









/***** 로그인 *****/
.member_wrap {
	max-width: 304px;
	margin-bottom:152px;
	margin-top: 112px;
}
.member_cont {
	padding:0;
	border:none;
}
.member_tit{
	padding: 0 0 55px;
}
.member_tit h2 {
	font-family: 'Minion Pro';
	font-weight: 400;
	font-size: 60px;
	line-height: 62px;
	color: #FF5145;
	text-align: center;
}
.member_tit h3 {
	font-size:24px;
	line-height:1.35;
	margin-bottom:0px;
	padding-bottom:13px;
	border-bottom:2px solid #3D3535;
}
.member_cont .member_login_box .login_input_sec > div {
	float:none;
}
.member_cont .member_login_box .login_input_sec input {
	margin: 0 0 12px;
	height:56px;
}
.member_cont .member_login_box .id_chk {
	padding:6px 0 18px;
	font-size: 0;
	
}
.member_cont .member_login_box .login_input_sec button {
	margin:16px 0 0;
	background:#3D3535;
	border:none;
	width:100%;
	height:48px;
}
.member_cont .member_login_box .login_input_sec button:hover {
	border:none;
	background:#3D3535;
}
.member_cont .btn_login_box {
	border:none;
	padding:0;
	margin-top:25px;
}

.member_cont .btn_login_box .btn_member_find{
	line-height: 40px;
	font-family: 'Apple SD Gothic Neo';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	color: #000000;
	text-decoration: unset;
}
.member_cont .search_member_info{
	margin-top:20px;
	text-align:center;
}
.member_cont .search_member_info .btn_member_white:hover {
	border:none;
	color:#737373;
}
.member_cont .search_member_info .btn_member_white:first-child{
	position:relative;
}
.member_cont .search_member_info .btn_member_white:first-child::after{
	content: "";
	display:block;	
	width:1px;
	height:12px;
	background:#e5e5e5;
	position:absolute;
	top:50%;
	right:0;
	transform: translateY(-50%);
}
.btn_member_white {
	display:inline-block;
	width:auto;
	border:none;
	height:auto;
	padding:0 8px;
	color:#737373;
}

.member_sns_login .btn.btn_kakao_login {
	background:#FCEC4F !important;
	border:none !important;
	margin-top:32px;
	color:#3D3535 !important;
	font-weight:700 !important;
}
.member_sns_login .btn.btn_kakao_login img{
	vertical-align: middle;
	width:13px;
	margin-right:8px;	
}

.btn_member_join {
	border:1px solid #000;
	height: 52px;
	line-height: 52px;
	width: 100%;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	color: #000000;
	background: #FFF;
}



/***** 아이디 찾기 *****/
.find_id_box .radio_find_type {
	margin-top:18px;
}

.find_id_sec .login_input{
	margin-top:16px;
}
.find_id_sec .login_input input {
	width:100%;
	height:48px;
	margin:0 0 8px 0;
}
.input_email {
	width:100% !important;
	margin-top:0 !important;
}
.find_id_box .btn_member_sec {
	border:none;
}
.btn_member_id {
	margin-top:8px;
}
.btn_member_white {
	font-weight:400;
	font-size:12px;
	text-decoration: underline;
	color:#737373;
}
.btn_member_white:hover {
	border:none;
	color:#737373;
}

.find_id_sec > p {
	color:#3D3535
}

.find_complete_box {
	min-height:auto;
}
.find_complete_box p {
	padding:19px 0 42px 0;
	font-size:14px;
	text-align:left;
	color:#3D3535;
	font-weight:700;
}
.find_complete_box p strong {
	color:#737373;
}



/***** 비밀번호 찾기 *****/
.find_password_box .login_input {
	padding-top:16px;
}
.find_password_box .login_input .member_warning {
	width:100%;
	margin:0;
}
.find_password_box .login_input input[type=text], .find_password_box .login_input input[type=password] {
	width:100%;
	margin:0 0 8px 0;
}

.member_cont .btn_center_box, .member_warning + .btn_center_box {
	margin-top:8px;
}

.btn_member_next {
	margin-top:0;
}

.info_again{
	padding-top:19px;	
	text-align:center;
}
.info_again a{
	font-size:12px;	
	font-weight:400px;
	color:#737373;
}
.user_certify_box .btn_member_sec li {
	width:100%;
}
.user_certify_box .btn_member_sec li button {
	width: 100%;
	height: 52px;
	background: #000000;
	border: 1px solid #000000;
	font-weight: 600;
	font-size: 14px;
	line-height: 52px;
	text-align: center;
	color: #FFFFFF;
}

.user_certify_box .btn_member_sec li button:hover {
	background: #000000;
}
.auth-text-time-authno {
	position:absolute;
	top:10px;
	right:12px;
}
.find_password_reset_box .login_input {
	width:100%;
	padding:0;
	border:none;
	margin-top:16px;
}
.find_password_reset_box .login_input input {
	margin:0 0 8px;
	text-indent: 14px;
}

.btn_member_ok, .btn_member_login {
	margin-top:0;
}
.find_password_complete_box {
	margin-top:19px;
	color:#3D3535;
	font-size:14px;
}
.find_password_complete_box p{
	margin-bottom:35px;	
}



/***** 회원가입 공통 *****/
.join_nav {
	display:none;
	width:100%;
	margin-bottom:11px;
	position:absolute;
	top:48px;
}

.join_nav div {
	display:table-cell;
	width:33.33%;
	height:40px;
	text-align:center;
	background:#FAFAFA;	
	font-size:12px;
	color:#A3A3A3;
	border-bottom:1px solid #E5E5E5;
	vertical-align: middle;
}
.join_nav div.is-active {
	border-bottom:1px solid #3D3535;
	color:#3D3535;
}

/* 반응형 중간기기 1000px 사이즈 이하*/
@media screen and (max-width:1200px) {	
	
	.join_nav {
		display:table;
	}
	
	
}


/***** 회원가입 선택 *****/
.join_method .member_sns_login .btn.btn_kakao_login {
	margin-top:0;
}
.shop_mall_join {
	padding:0;
	margin-top:12px;
	border-color:#d4d4d4;
}

.member_cont .member_login_box .member_login_shop {
	border:none;
}



/***** 회원가입 약관동의 *****/
.join_agreement_wrap {
	padding:0 16px;
	margin:112px auto 152px;
}

.join_agreement_wrap .member_tit {
	border:none;
	max-width:820px;
	margin:0 auto;
	padding: 0 0 55px;
}
.join_agreement_wrap .member_tit h2 {
	padding: 0 0 40px;
}
.join_agreement_wrap .member_cont {
	width:100%;
}
.join_agreement_wrap .member_cont h3 {
	font-size:20px;
	color:#a3a3a3;
	font-weight:700;
	line-height:1.35;
	padding-bottom:16px;
	border-bottom:2px solid #3D3535;
	max-width:820px;
	margin:8px auto 0;
}

.join_agreement_wrap .join_agreement_cont {
	border:none;
	padding-top:16px;
	max-width:820px;
	margin:0 auto;
	border-top: 3px solid #000;
	border-bottom: 1px solid #F2F2F2;
}
.join_agreement_cont .form_element em {
	font-size:14px;
	font-weight:400;
	color:#3D3535;
}
.join_agreement_cont .join_agreement_box {
	margin-bottom:27px;
	
}



.join_agreement_cont .join_agreement_box:first-child {
	padding-bottom:12px;
	margin-bottom:24px;
	border-bottom:1px dashed #E9E9E9;
}

.join_agreement_cont .agreement_box {
	background:#F9F9F9;
	border:0;
	padding:16px 20px 16px 16px;
	height:120px;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #757575;
	overflow-x: hidden;
	overflow-y: auto;
}
.join_agreement_cont .agreement_box::-webkit-scrollbar{
	width: 14px;
}
.join_agreement_cont .agreement_box::-webkit-scrollbar-thumb {
	border: 5.5px solid rgba(0, 0, 0, 0);
  	background-clip: padding-box;
  	border-radius: 8px;
  	background-color: #000;
  }
.join_agreement_cont .agreement_box::-webkit-scrollbar-track {
	background-color: #F9F9F9;
  }


.join_agreement_cont .form_element strong {
	color:#3D3535;
	font-weight:400;
}
.join_agreement_cont .form_element span > a {
	color:#a3a3a3;
	font-size:10px;
	text-decoration: none;
	line-height:1.6;
	padding:0 8px;
	background: url(../img/btn_view_all.png) no-repeat right center;
	background-size:4px;
}
.join_agreement_wrap .member_cont .btn_center_box {
	margin-top:48px;
}



/* 반응형 중간기기 1000px 사이즈 이하
@media screen and (max-width:1200px) {	
	
	
	.join_agreement_cont .agreement_box {
		display:none;
	}
	.join_agreement_cont .join_agreement_box {
		margin-bottom:28px;
	}
	.join_agreement_wrap .member_cont .btn_center_box {
		width:calc(100% + 32px);
		margin-left:-16px;
		margin-top:0;
		padding-top:24px;
		border-top:10px solid #FAFAFA;
	}
	
	.join_agreement_wrap .member_tit {
		display:none;
	}
	.join_agreement_wrap .member_cont h3 {
		display:none;
	}
	
}

*/

/***** 회원가입 폼 *****/
.join_base_wrap {
	max-width:360px;
	margin:112px auto 152px;
}

.my_page .join_base_wrap{
	max-width: 100%;
}
.join_base_wrap .important {
	background: transparent;
	position:relative;
}
.join_base_wrap .important::after {
	content: "";
	position:absolute;	
	top:-2px;
	right:-4px;
	width:3px;
	height:3px;
	border-radius:50%;
	background:#FE6150;
}
.join_base_wrap .member_tit {
	border:none;
}
.join_base_wrap .member_tit h2 {
	padding: 0 0 40px;
}

.join_base_wrap .member_cont {
	width:100%;
}
.join_base_wrap .member_cont h3.title{
	display:none;	
}
.join_base_wrap .form_element label.check_s {
	color:#737373;
}
.base_info_box .base_info_sec {
	border:none;
}
.base_info_sec table, .base_info_sec table tbody, .base_info_sec table tr, .base_info_sec table th, .base_info_sec table td {
	display:block;
	width:100%;
	padding:0;
}

.base_info_sec table input[type="text"], .base_info_sec table input[type="password"] {
	width:100%;
	margin-bottom:0;
}
.join_base_wrap table th {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	border-bottom:none;
	background:transparent;
	color:#3D3535;
	padding:0;
}
.join_base_wrap table th span {
	margin:0;
	padding:0;
}
.join_base_wrap table td {
	border:none;	
	padding:0 0 16px;
}
.join_base_wrap table td.member_address{
	overflow: hidden;
}
.join_base_wrap table td.member_hp{
	border-bottom: 1px solid #F2F2F2;
	padding: 0 0 31px;
	margin-bottom: 28px;
}

.base_info_sec .member_email input[type="text"] {
	width:100%;
}
#contents .member_address .address_postcode input {
	width: 100%;
}
#contents .member_address .address_postcode .btn_post_search {
	
}
#contents .member_address .address_input {
	width:100%;
}

.addition_info_box {
	margin:0;
}
.addition_info_box .addition_info_sec {
	border:none;
}
.addition_info_sec table, .addition_info_sec table tbody, .addition_info_sec table th, .addition_info_sec table td {
	display:block;
}

.btn_member_cancel {

}

.join_base_wrap .btn_center_box {
	margin-top:28px;
	font-size: 0;
}









/***** 마이페이지 패스워드 확인 *****/

.my_page_password .id_pw_cont {
	margin:52px 0 0;
	padding:10px 0 0;
	background:0;
	border:none;
	border-top:2px solid #000;
}
.my_page_password .id_pw_cont dl {
	display:block;
	text-align:left;
	margin:16px 0 0;
	padding:0;
}
.my_page_password .id_pw_cont dt{
	width:145px;
	line-height:54px;
	font-size:14px;
	font-weight:500;	
	color:#000;
	padding:0;
}
.my_page_password .id_pw_cont dt .required {
	position:relative;
}
.my_page_password .id_pw_cont dt .required::after{
	content: "";
	display:block;
	width:4px;
	height:4px;
	border-radius:2px;
	background:#8E7D7D;
	position:absolute;
	top:-1px;
	right:-4px;
}

.my_page_password .id_pw_cont dd{
	width:360px;
}
.my_page_password .id_pw_cont dd strong{
	padding:0 16px;
	width:360px;
	height:56px;
	line-height:56px;
	background:#FAFAFA;
	color:#A3A3A3;
	border: 1px solid #d5d9e1;
}

.my_page_password .btn_center_box {
	margin-top:20px;
	padding-top: 40px;
	border-top:1px solid #F5F5F5;	
}
.my_page_password .btn_center_box .btn_pw_cancel {
	border-color: #D4D4D4;
	margin-right:8px;
}
.my_page_password .btn_center_box em{
	font-size:12px;
	font-weight:400;
}



.hack_out {
	margin-bottom:96px;
}

.hack_out .mypage_unregister .mypage_zone_tit {
	font-size:20px;
	margin-top:40px !important;
	padding-bottom:0 !important;
	font-weight:700;
} 

.hack_out .mypage_unregister .unregister_info {
	max-width:100%;
	height:120px;
	overflow-y: scroll;
	padding:16px 20px;
	font-weight: 400;
	font-size: 13px;
	line-height: 19px;
	color: #757575;
	margin-bottom:32px;
	margin-top:43px;
	background: #F9F9F9;
	border: 0;
}
.hack_out .mypage_unregister .hack_out_list {
	width:500px;	
}
.hack_out .mypage_unregister .hack_out_list li {
	float:none;
	display:inline-block;
	width:222px;
}

.hack_out .mypage_unregister .hack_out_list li input[type="checkbox"]{
	width:18px;
	height:18px;
	display:inline-block; 
	background-image: url('../img/checkbox.png'); 
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	visibility: visible;
	position: unset;
	top: unset;
	border: 0;
	appearance: none;
	-moz-appearance: none;
}

.hack_out .mypage_unregister .hack_out_list li label{
	padding: 0 0 0 8px;
}

.hack_out .mypage_unregister .hack_out_list li input[type="checkbox"]:checked{
	background-image: url('../img/checkbox_checked.png'); 
}

.mypage_table_type .table_left td .form_element{
	display:block;	
}

.hack_out .mypage_unregister textarea {
	max-width: 100%;
	height:144px;
	resize: none;
}


/*

@media screen and (max-width:1200px) {
	.hack_out {
		padding:0 40px;
	}	
}

@media screen and (max-width:768px) {
	.hack_out {
		padding:0;
		margin-bottom:40px;
	}	
	.mypage_unregister {
		padding: 0 16px;
	}
	.hack_out .mypage_unregister .mypage_zone_tit {
		border-bottom: 1px solid #000 !important;
		padding:0 0 8px 0 !important;
	}
	.hack_out .mypage_unregister .unregister_info {
		margin-bottom:40px;
	}
	.hack_out .mypage_unregister .hack_out_list {
		width:auto;
		max-width:500px;
		margin-top:8px;
	}
	.mypage_table_type {
		padding-bottom:24px;
	}
}
*/